*, *::before, *::after {
    box-sizing:content-box;
       font-family: Gotham Rounded;
}

:root {
    background-color:lightslategray;
}

body {
   font-weight:bold;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color:navajowhite;
    
}



.container {
    width: 800px;
    max-width: 80%;
    background-color: white; 
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
   
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
   color:yellow;
   border:solid;
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    outline: none;
}


.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}
.scoreboard {
    display:grid;
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    align-content:center;
    justify-content:center;
}
.h2 {
    display:unset;
    align-content:center;
    justify-content:center
}
.btn.correct {
    background-color:green;
}
.btn.wrong {
    background-color: red;
}
.img{
    display: none;
}
.h3 {
    display: none;
}
